[submodule "frontend"]
	path = frontend
	url = https://github.com/based-zrt/unitech-frontend
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/based-zrt/unitech-backend
	branch = master
